{% extends 'main.html' %}
{% block content %}
    <h1>Completed Tasks</h1>
    <p>This is where completed tasks will be displayed.</p>
      <h1>Tasks are listed below</h1>
     <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Description</th>
                
            </tr>
        </thead>
        <tbody>
           {% for i in comp_data %}
           <tr>
                <td>{{i.title}}</td>
                <td>{{i.desc}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}